* {
    background-color: #ffda31;
}
#contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#header {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
#header-text {
    margin: 0;
    font-weight: bolder;
    font-size: 40px;
}
.header-text1 {
    font-size: 70px;
}

#start-dog {
    width: 8vw;
    height: 8vw;
}

/*아이디 찾기 시작*/

#find-name {
    padding-top: 5vw;
}
.text-aria {
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 3vw;
    background-color: white;
    border-radius: 40px;
    margin-right: 2vw;
}
.input {
    width: 20vw;
    background-color: white;
    border: none;
}
#contain-under {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    height: 10vw;
    align-items: center;
}
#find-login {
    width: 15vw;
    background-color: black;
    color: white;
    border-radius: 40px;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#exit {
    width: 15vw;
    background-color: black;
    color: white;
    border-radius: 40px;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
