<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>board_write page</title>
        <link rel="stylesheet" href="../../public/css/project/board_write.css" />
        <script src="../../public/js/project/board_write.js"></script>
    </head>
    <body>
      <div class="top_bar">
        <div class="left_wrap">
          <div class="status_modify">작업상태 변경</div>
        </div>
        <div class="right_wrap">
          <div class="managers">
            <div class="work_managers"></div>
          </div>
          <img class="back_page"></img>
        </div>
      </div>

      <div class="board_menu">
      <div class="board_name">
        <div class="write_board_name"></div>
      </div>
      <div class="board_manager">담당자
        <div class="select_manager"></div>
        <div class="cancel"></div>
      </div>
      <div class="board_deadline">마감일
        <div class="select_deadline"></div>
      </div>
      <div class="board_project">프로젝트
        <div class="select_project"></div>
      </div>
      <div class="board_explain">설명</div>
      </div>
      <div class="write_explain">이 작업에 대해 설명하세요.</div>

      <div class="board_comment">
        <div class="member_profile_img"></div>
        <div class="comment_area">댓글추가</div>
      </div>
      <div class="wirte_button">작성</div>
      
    </body>
</html>