<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>board_write page</title>
        <link rel="stylesheet" href="../../public/css/project/board_write.css" />
        <script src="../../public/js/project/board_write.js"></script>
    </head>
    <body>
      <div class="top_bar">
        <div class="left_wrap">
          <button type="button" class="status_modify">작업상태 변경</button>
        </div>
        <div class="right_wrap">
          <div class="managers">
            <div class="work_managers"></div>
          </div>
          <img class="back_page"></img>
        </div>
        <hr class="top_bar_line1">
      </div>

     
      
        <div class="board_name">
          <div class="write_board_name"><h1>제목을 작성하세요.</h1></div>
        </div>
      <div class="board_menu">
        <div class="board_menu_wrap1">
          <div class="board_manager">담당자</div>
        
          <div class="manager_generate">
            <div class="profile_empty">+</div>
            <div class="name_empty">담당자 없음</div>
          </div>
        </div>
        <div class="board_menu_wrap2">
          <div class="board_deadline">마감일</div>
          <div class="open_calender">마감일 없음</div>
        </div>  
        <div class="board_menu_wrap3">  
          <div class="board_project">프로젝트</div>
            <div class="select_project">프로젝트에 추가</div>
        </div> 
          <div class="board_explain">설명</div>
        </div>
          <div class="write_explain">이 작업에 대해 설명해주세요</div>

    <hr class="top_bar_line2">

      <div class="board_comment">
        <div class="wrap_comment">
          <div class="member_profile_img"></div>
          <div class="comment_area">댓글추가</div>
        </div>  
        <button type="button" class="wirte_button">작성</button>
      </div>
      
      
      
    </body>
</html>