<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>board_write page</title>
        <link rel="stylesheet" href="../../public/css/project/board_write.css" />
        <link rel="stylesheet" href="../../public/css/common/font.css" />
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <%- include('../common/header.ejs') %>
        <!--작업 상태-->
        <nav>
            <div class="top_bar">
                <div class="select_box"> 
                    <!-- <label for="boardStatus">작업 상태</label>
                    <select id="boardStatus">
                        <option value="planning">계획 중</option>
                        <option value="needFeedback">피드백 요청</option>
                        <option value="finishFeedback">피드백 완료</option>
                        <option value="suspend">중단</option>
                        <option value="finish">완료</option>
                    </select> -->
                    <div class="select_box"> 
                        <!-- left_wrap -->
                        <div id="bg" class="placement_status">
                            <span id="statusTitle">작업 상태</span>
                            <div id="blue" class="circle"></div>
                            <div id="pro_status" class="status_txt"></div>
                        </div>

                        <ul class="option_list_profile">
                            <li class="option_item" onclick="changeStatusToPlan()">
                                <div id="bg_blue" class="placement_status">
                                    <div id="blue" class="circle"></div>
                                    <div id="planning" class="status_txt">계획중</div>
                                </div>
                            </li>
                            <li class="option_item" onclick="changeStatusToProg()">
                                <div id="bg_yellow" class="placement_status">
                                    <div id="yellow" class="circle"></div>
                                    <div  class="status_txt">진행중</div>
                                </div>
                            </li>
                            <li class="option_item" onclick="changeStatusToSus()">
                                <div id="bg_purple" class="placement_status">
                                    <div id="purple" class="circle"></div>
                                    <div class="status_txt">중단됨</div>
                                </div>
                            </li>
                            <li class="option_item" onclick="changeStatusToFin()">
                                <div id="bg_green" class="placement_status">
                                    <div id="green" class="circle"></div>
                                    <div class="status_txt">완료</div>
                                </div>
                            </li>
                            <li class="option_item" onclick="changeStatusToNeedFeed()">                                
                                <div id="bg_red" class="placement_status">
                                    <div id="red" class="circle"></div>
                                    <div class="status_txt">피드백 요청</div>
                                </div>
                            </li>
                            <li class="option_item" onclick="changeStatusToFinishFeed()">
                                <div id="bg_black" class="placement_status">
                                    <div id="black" class="circle"></div>
                                    <div class="status_txt">피드백 완료</div>
                                </div>
                            </li>
                        </ul>
                    </div>  
                </div>     
                <!-- <div class="right_wrap">
                    <div class="managers">
                        <div class="profile_empty"></div>
                        <a href="javascript:history.back();"><img src="../../public/img/back_icon.webp" class="back_icon"></img></a>
                    </div>
                </div> -->
            </div>
        </nav>


        <hr class="top_bar_line1" />


        <section>
            <div class="board_name">
                <input type="text" id="boardTitle" class="write_board_name" placeholder="제목을 작성하세요."></input>
            </div>
            <div class="board2">
                <label for="boardManager">담당자</label>
                <select name="manager" id="boardManager"></select>
            </div>
            <div class="board2">
                <label for="boardDeadline">마감일</label>
                <input type="date" id="boardDeadline" class="boardDeadline" >
            </div>
            <div class="board3">
                <span id="projectName" class="projectName">프로젝트</span><div class="pojectNameDiv" id="myProject"></div>
            </div>
        </section>
        <hr class="top_bar_line2" />
        <section>
            <label id="boardExplain" class="board_explain">설명</label>
            <textarea id="writeExplain" class="write_explain" placeholder="이 작업에 대해 설명해주세요"></textarea>
        </section>
        <button type="button" class="button_white_yellow" onclick="submitFunc()">추가하기</button>
        <%- include ('../common/footer.ejs') %>
    </body>
    <script src="../../public/js/project/board_write.js"></script>
</html>
