<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>calender</title>
        <link rel="stylesheet" href="../../public/css/project/calender.css" />
    </head>
    <body>
        <%- include('./header.ejs')%> <%- include('../common/header.ejs')%>

        <div class="bg">
            <div class="button_wrap">
                <button class="prev" type="button"><</button>
                <button class="next" type="button">></button>
                <button class="today" type="button">오늘</button>
            </div>
            <div class="calender_right">
              <div class="select_calender">
                <input class="private" type="checkbox">내 캘린더</input>
                <input class="team" type="checkbox">팀 캘린더</input>
              </div>
          </div>
            <div class="calender">
              <div class="calender_wrap">
              <button type="button" onclick="pop_calender()" class="calender_title"></button>
              <a href="달력상세페이지">캘린더_상세페이지</a>
              <div class="date_wrap">
                <div class="grid date_head">
                  <div>일</div>
                  <div>월</div>
                  <div>화</div>
                  <div>수</div>
                  <div>목</div>
                  <div>금</div>
                  <div>토</div>
                </div>
            
                <div class="grid date_board">
                </div>
              </div>
            </div>  
          </div>
        </div>

<!-- 달력 팝업 띄우기 -->
<div id="pop_info_1" class="pop_wrap" style="display:none;">
  <div class="pop_inner">
    <div class="top_wrap">
      <select class="years_select">
        <option value=""></option>
      </select>
      <div class="right_button">
      <button class="prev" type="button"><</button>
      <button class="next" type="button">></button>
    </div>
  </div>  
    <div class="month_wrap">
      <button type="button">1월</button>
      <button type="button">2월</button>
      <button type="button">3월</button>
      <button type="button">4월</button>
      <button type="button">5월</button>
      <button type="button">6월</button>
      <button type="button">7월</button>
      <button type="button">8월</button>
      <button type="button">9월</button>
      <button type="button">10월</button>
      <button type="button">11월</button>
      <button type="button">12월</button>
    </div>  
  </div>
</div>

        <script src="../../public/js/project/calender.js"></script>
    </body>
</html>
