<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>calender</title>
        <link rel="stylesheet" href="../../public/css/project/calender.css" />
    </head>
    <body>
        <%- include('./header.ejs')%> <%- include('../common/header.ejs')%>

        <div class="bg">
          <div class="calender"></div>
        </div>

        
    </body>
</html>
