<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>project_header</title>
        <link rel="stylesheet" href="../../public/css/project/header.css" />

    </head>
    <body>
        <header>
            <div id="project_header">
                <div class="pro_header1">
                    <div class="left_wrap1">
                        <div class="pro_name">프로젝트명</div>
                        <div class="pro_status">상태</div>
                    </div>
                    <div class="mid_wrap1">
                        <div class="pro_date">2024년 2월 20일 ~ 2024년 3월 22일</div>
                        <div class="pro_deadline">(D-20)</div>
                        <img class="pro_edit" src="../public/img/edit.png"></img>
                    </div>
                    <div class="right_wrap1">
                      <a href="https://github.com/Hyunkyung-Nam/Gae-Call"><img class="pro_github" src="../public/img/github.png"></img></a>
                    </div>
                </div>

                <div class="pro_header2">
                  <a class="pro_header2_link" href="/home">홈</a>
                  <a class="pro_header2_link" href="/board">보드</a>
                  <a class="pro_header2_link" href="/calender">캘린더</a>
                  <a class="pro_header2_link" href="/issue">이슈 관리</a>
                </div>
            </div>
        </header>
    </body>
</html>
