<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>project_header</title>
        <link rel="stylesheet" href="../../public/css/project/header.css" />
        <link rel="stylesheet" href="../../public/css/main.css" />
        <link rel="stylesheet" href="../../public/css/common/font.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>

        <header id="project_header">
            <div class="pro_header1">
                <div class="left_wrap1">
                    <div class="pro_name"></div>
                    <div class="pro_status"></div>
                </div>
                <div class="mid_wrap1">
                    <div class="pro_date"></div>
                    <div class="pro_deadline">(D-20)</div>
                    <img class="pro_edit" src="../public/img/edit.png"></img>
                </div>
                <div class="right_wrap1">
                    <a href="https://github.com/Hyunkyung-Nam/Gae-Call"><img class="pro_github" src="../public/img/github.png"></img></a>
                </div>
            </div>

            <div class="pro_header2">
                <a class="pro_header2_link" href="../project/home">홈</a>
                <a class="pro_header2_link" href="../project/board_main">보드</a>
                <a class="pro_header2_link" href="../project/calender">캘린더</a>
                <a class="pro_header2_link" href="../project/issue_main">이슈 관리</a>
            </div>
        </header>
        <script src="../../public/js/project/header.js"></script>
    </body>
</html>
