<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/project/home.css" />
        <%-include('../../views/common/header.ejs') %> <%-include('header.ejs')%>
    </head>
    <body>
        <!-- <div id="contain-home">
            <div id="overview-contain">
                <div id="overview">
                    <div id="overview-header">
                        <h3>Project Overview</h3>
                    </div>
                    <div id="overview-main">
                        <div style="width: 4vw"></div>
                        안녕하세요
                        <div id="pen-img-div"><img src="../../public/img/edit.png" id="pen-img" /></div>
                    </div>
                </div>
            </div>

            <div id="member-contain">
                <div id="member">
                    <div id="member-header">
                        <h3>Member</h3>
                    </div>
                    <div id="overview-main">
                        <div style="width: 4vw"></div>
                        <div id="pen-img-div"><img src="../../public/img/mypage.png" id="pen-img" /></div>
                        남현경
                    </div>
                </div>
            </div>
            <div id="project-rule">
                <div id="rule-contain">
                    <div class="project-img-div"><img src="../../public/img/idea.png" class="project-img" /></div>
                    프로젝트 규칙
                    <div class="project-img-div"><img src="../../public/img/plus.png" class="project-img" /></div>
                </div>

                <div id="rule-header"></div>
                <div id="rule-li"></div>
            </div>
        </div> -->
    </body>
    <%-include('../../views/common/footer.ejs')%>
</html>
