<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/project/issue_main.css" />
    </head>
    <body>
        <%-include('../../views/common/header.ejs') %> <%-include('header.ejs')%>
        <main>
            <form id="issue-contain">
                <div id="issue-search-contain">
                    <select name="values" id="vules" class="">
                        <option class="value" value="1">제목</option>
                        <option class="value" value="2">작성자</option>
                    </select>
                    <input type="text" placeholder="검색" id="serch-text" />
                    <button type="submit" id="search">검색</button>
                </div>
                <div id="issue-contain-main">
                    <div id="issue-contain-title">
                        <div id="issue-number">No</div>
                        <div id="issue-title">제목</div>
                        <div class="issue">작성자</div>
                        <div class="issue">작성시간</div>
                    </div>
                </div>
                <div>
                    <div id="issue">
                        <div id="issue-number">10</div>
                        <div id="issue-title">제목</div>
                        <div class="issue">작성자</div>
                        <div class="issue">작성시간</div>
                    </div>
                </div>
                <a href="../../../project/issue_write"> <div id="write">글쓰기</div></a>
                <div id="page-number">
                    <div class="page-img-div"><img class="page-img" src="../../public/img/first-page.png" /></div>
                    <div class="page-img-div"><img class="page-img" src="../../public/img/left-page.png" /></div>
                    <li class="li">1</li>
                    <li class="li">2</li>
                    <li class="li">3</li>
                    <li class="li">4</li>
                    <li class="li">5</li>
                    <div class="page-img-div"><img class="page-img" src="../../public/img/right-page.png" /></div>
                    <div class="page-img-div">
                        <img class="page-img" src="../../public/img/last-page.png" />
                    </div>
                </div>
            </form>
        </main>
        <%-include('../../views/common/footer.ejs')%>
    </body>
    <script src="../../public/js/project/issue_main.js"></script>
</html>
