<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/project/issue_content.css" />
    </head>
    <body>
        <%-include('../../views/common/header.ejs') %>
        <main>
            <div class="bg_white">
                <form
                    action="/api/project-issue/write"
                    name="issue_write_form"
                    method="post"
                    enctype="multipart/form-data"
                >
                    <div class="title">
                        <span>제목 :</span>
                        <div id="title-con"></div>
                        <div id="img-corretion" class="icon correction_icon"></div>
                        <div id="img-corretion" class="icon delte_icon"></div>
                    </div>
                    <div class="writer">
                        작성자 :
                        <div id="writer-con"></div>
                        <div id="date">작성 일시 :</div>
                    </div>
                    <hr class="top_hr1" />
                    <div id="main-text">
                        <div id="code-div">코드</div>
                        <div id="text-div">텍스트</div>
                    </div>
                    <nav id="save-file-contain">
                        <div class="save-file">첨부 파일</div>
                        <div class="save-file">첨부 파일</div>
                    </nav>
                    <hr class="top_hr1" />
                    <nav id="comment-nav">
                        <div class="comment-cont">
                            <div class="comment-profile"><img src="" /></div>
                            <div class="comment-text"></div>
                            <div class="comment-img-div">
                                <img src="../../public/img/trash-can.png" class="comment-img" />
                            </div>
                        </div>
                    </nav>
                    <hr class="top_hr1" />
                    <img src="../../public/img/coding_box.png" class="comment-code-img">  </br>
                    <nav id="comment-write-cont">
                        <input type="text" placeholder="댓글을 입력해주세요" id="comment-write"><button type="submit" id="comment-write-submit" >작성</button>
                    </nav>
                </form>
            </div>
        </main>
    </body>
    <script src="../../public/js/project/issue_content.js"></script>
</html>
