<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/project/issue_write.css" />
    </head>
    <body>
        <%-include('../../views/common/header.ejs') %>
        <main>
            <form id="write-contain">
                <div id="write-title-div">
                    <input type="text" placeholder="제목을 입력하세요" class="write-title" required/>
                </div>
                <div id="write-con">
                    <div id="code-img-div"><img src="../../public/img/code.png" id="code-img" /></div>
                    <div id="text-con">
                        <input type="text" placeholder="텍스트를 입력하세요" id="text-place" class="text-place" required/>
                    </div>
                    <div id="code-con">
                        <input type="text" placeholder="코드를 입력하세요" id="code-place" />
                    </div>
                </div>
                <div id="file-upload-issue-con">
                        <a
                            href="javascript:void(0);"
                            class="file-upload-view"
                            style="text-decoration: none; color: black"
                        >
                            <div class="file-plus">
                                파일 선택
                            </div>
                        </a>
                                <input type="text" class="upload-name"></input>

                </div>
                <div style="width: 10vw;
                height: 54px;">
                <button type="submit" id="issue-save">작성</button>
            </div>
            </form>
        </main>

        <%-include('../../views/common/footer.ejs')%>
    </body>
    <script src="../../public/js/project/issue_write.js"></script>
=======
        <title>issue_write</title>
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <link rel="stylesheet" href="../../public/css/project/issue_write.css" />
    <body>
        <%- include('../common/header.ejs')%>
      <div class="bg_white" onkeydown="resize(this)" onkeyup="resize(this)">
        <form action="/api/project-issue/write" name="issue_write_form" method="post" enctype="multipart/form-data">
          <input class="title_write" name="issue_title" type="text" placeholder="제목을 입력하세요."></input>
          <hr class="top_hr1">
          <img src="../../public/img/coding_box.png" alt="" onclick="open_box()">  </br>
          <div class="content_write" contenteditable="true"
          placeholder="내용을 입력하세요.">
            <textarea class="code_box" style="display:none" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
          </div></br>
          <div class="filebox">
            <label class="file_upload" for="file_upload"><div class="css">파일 선택</div></label>
            <p id="origin_name" style="display : inline-block"></p>
            <input type="file" id="file_upload" style="display: none;">
            
          </div>
          <div class="right_wrap">
          <button class="write_button" type="submit">작성</button>
          </div>
        </form>
      </div>
    

      <script src="../../public/js/project/issue_write.js"></script>
    </body>
>>>>>>> 2dc8371439c5f63c973f92999bd0f4f9284f156d
</html>
