<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/project/issue_main.css" />
        <%-include('../../views/common/header.ejs') %> <%-include('header.ejs')%>
    </head>
    <body>
        <main>
            <form id="issue-contain">
                <div id=""></div>
            </form>
        </main>
    </body>
    <%-include('../../views/common/footer.ejs')%>
    <script src="../../public/js/project/issue_main.js"></script>
</html>
