<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/project/issue_content.css" />
        <link rel="stylesheet" href="../../public/css/main.css" />
        <link rel="stylesheet" href="../../public/css/common/font.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    </head>
    <body>
        <%-include('../../views/common/header.ejs') %> <%-include('../../views/project/header.ejs') %>
        <main>
            <div class="bg_white">
                <form name="issue_write_form" enctype="multipart/form-data">
                    <div class="form_top">
                        <h1>프로젝트 이슈</h1>
                        <div id="title-con">
                            <button
                                type="button"
                                id="img-corrcetion"
                                class="icon correction_icon"
                                onclick="editIssueFunc()"
                            ></button>
                            <button
                                type="button"
                                id="img-corretion"
                                class="icon delete_icon"
                                onclick="deleteIssueFunc()"
                            ></button>
                        </div>
                    </div>
                    <!--제목 출력 위치-->
                    <div class="title_boxes">
                        <div contenteditable="false" id="title_box" class="title_box">
                            오늘 새로운 사실을 발견했습니다.
                        </div>
                    </div>

                    <div class="writer_date">
                        <!--  `작성자: ${홍길동}`  -->
                        <div class="writer_box">조아영</div>
                        <!-- `작성일: ${2024-02-03}` -->
                        <div class="date_box">2024-02-03</div>
                    </div>

                    <hr />
                    <!--글 출력 위치-->
                    <div class="content_box">
                        <div class="icon coding_icon" id="codingIcon" onclick="codeBlockFunc()"></div>
                        <!-- `${<p></p>}` -->
                        <div class="content_box_inner" id="content" contenteditable="false">
                            본문입니다. 오늘의 이슈글 블라블라
                            <code
                                >쉬고싶다Func() divFile.classList.add('file'); let p = document.createElement('p'); for
                                반복문 돌려서 파일 하나씩 추가 p.innerHTML = '파일명' divFile.appendChild('p')</code
                            >
                            ""
                        </div>
                    </div>

                    <!-- <label for="file">
                        <div class="btn-upload">파일 업로드하기</div>
                    </label>
                    <input type="file" name="file" id="file" /> -->

                    <div class="uploadBox">
                        <form id="myForm" onsubmit="uploadFunc()">
                            <label for="files">
                                <span id="filesButt" class="button_white_yellow">파일 선택</span>
                            </label>
                            <p id="origin_name" style="display: inline-block"></p>
                            <input id="files" type="file" name="issue_files" multiple />
                            <br />
                            <button id="fileSubmit" class="button_yellow_black" type="submit">업로드</button>
                        </form>
                    </div>
                    <div class="file_box">
                        <div class="file"><p>1234567891011.png</p></div>
                        <div class="file"><p>첨부 파일.doc</p></div>
                    </div>

                    <button type="button" id="saveButt" class="button_yellow_white" onclick="saveFunc()">
                        수정완료
                    </button>
                    <hr />
                    <!--댓글 출력, 수정, 삭제하는 곳-->
                    <div class="comment_box">
                        <ul class="comments">
                            <!-- 
                                    for 반복문 + 
                                    let li = document.createElement('li');
                                        li.innerHTML = `<div class="user_image" style="background-image: url('이미지경로.jpg');"></div>
                                        <p>${user_name}</p> : <p>${comment}</p>`

                                        ul.appendChild(li)

                                     < for (let i = 0; i < list.length; i++) { >
                                    <li>
                                    <b>< list[i].userid </b>
                                         <a href="/comment/<projectId[i].id> ">list[i].comment</a>
                                    </li> 
                            -->
                            <li>
                                <div class="user_Image" style="background-image: url(/public/img/user-solid.svg)"></div>
                                <p>이름 :</p>
                                <div contenteditable="false" id="comment" class="comment">댓글입니다 댓글 댓글</div>
                                <button
                                    type="button"
                                    id="commentEdit"
                                    class="icon correction_icon"
                                    onclick="editCommentFunc()"
                                ></button>
                                <button
                                    type="button"
                                    id="commentDelete"
                                    class="icon delete_icon"
                                    onclick="deleteCommentFunc()"
                                ></button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!--댓글 입력 하는 곳-->
            <div class="writeComment_box">
                <!-- <div class="icon coding_icon"></div> -->

                <div contenteditable="true" placeholder="댓글을 입력해주세요" id="comment_write"></div>
                <button onclick="addCommentFunc()" id="submitComment" class="button_yellow_black">작성</button>
            </div>
        </main>
        <%-include('../../views/common/footer.ejs') %>
    </body>
    <script src="../../public/js/project/issue_content.js"></script>
</html>
