<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>main page</title>
        <link rel="stylesheet" href="../public/css/main.css" />
    </head>
    <body>
        <%-include('common/header.ejs') %>
        <!-- <%-include('project/header.ejs') %> -->

        <p class="hi">안녕하세요 000 님</p>
        <div class="main_link">
            <div class="github_link"><img class="main_github_img" src="../public/img/github.png" /></div>
            <div class="blog_font">blog</div>
        </div>

        <div class="main_middle_block">
            <div class="main_mywork">
                <div class="main_mywork_txt">내 작업</div>
                <div class="main_status">
                    <div class="main_status_txt">계획 중</div>
                    <div class="main_status_txt">진행 중</div>
                    <div class="main_status_txt">피드백 요청</div>
                    <div class="main_status_txt">피드백 완료</div>
                    <div class="main_status_txt">중단됨</div>
                    <div class="main_status_txt">완료</div>
                </div>

                <div class="main_board">
                    <table class="main_board_table" border="1" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="th1">작업명</th>
                                <th class="th2">마감일</th>
                                <th class="th3">프로젝트명</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="main_plus">+ 더보기</div>
                </div>
            </div>

            <div class="main_myproject">
                <div class="main_myproject_projectTxt">프로젝트</div>
                <div class="profiles">
                    <div class="main_myproject_profile0">
                        <a href="/project/newProject" style="text-decoration: none; color: black"
                            ><div class="main_myproject_generate">+</div></a
                        >
                        <div class="main_myproject_generTxt">프로젝트 생성</div>
                    </div>
                    <div class="main_myproject_profile1">
                        <div class="main_myproject_show"><img class="main_profileImg" /></div>
                        <div class="txt_place">
                            <div class="main_myproject_name">프로젝트명</div>
                            <div class="main_myproject_stat">플젝상태</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_lower_block">
            <p class="main_team_txt">팀 활동</p>
        </div>
    </body>
</html>
