<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/mypage.css" />
        <title>mypage</title>
    </head>
    <body>
        <main>
            <div class="profile_img_section">
                <div class="profile_img_top">
                    <div class="profile_more">
                        <img src="../public/img/ellipsis-solid-2.svg" alt="더보기" />
                        <button type="button"></button>
                    </div>
                </div>
                <div class="profile_img_middle">
                    <div class="profile_img_box">
                        <img src="../public/img/user-solid.svg" alt="더보기" />
                    </div>
                </div>
                <div class="profile_img_bottom">
                    <div class="profile_select_box">
                        <button type="button">프로필 이미지 선택</button>
                    </div>
                </div>
            </div>
            <div class="profile_detail_section">
                <div class="name_box">
                    <div>이름</div>
                    <input type="text" id="username" />
                </div>
                <div class="email_box">
                    <div>이메일</div>
                    <div id="useremail"></div>
                </div>
                <div class="update_box">
                    <button type="button">수정</button>
                </div>
            </div>
        </main>
    </body>
</html>
