* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffda31;
    font-family: "IBM Plex Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
}
main {
    padding-top: 140px;
}

.hi {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.main_link {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

.main_github_img {
    width: 2.5vw;
    height: 2.5vw;
    object-fit: fill;
    border-radius: 50%;
}

.blog_font {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    font-style: oblique;
    margin-left: 3vw;
}

.main_middle_block {
    margin-top: 5vw;
    display: flex;
    justify-content: space-evenly;
}

.main_mywork {
    background-color: white;
    width: 47vw;
    border-radius: 1.5vw;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_mywork > * {
    width: 100%;
}
.main_myproject {
    background-color: white;
    width: 47vw;
    border-radius: 1.5vw;
}
.main-mywork-txt-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 0;
}
.main_status {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
}
.profiles {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.profiles > * {
    width: 25%;
    padding-bottom: 10px;
}

.main_mywork_txt {
    font-size: 2vw;
    font-weight: 700;
}

.main_myproject_projectTxt {
    font-size: 2vw;
    font-weight: 700;
    padding-left: 2vw;
    padding-top: 1vw;
}

.main_status {
    display: flex;
}

.main_status_txt {
    cursor: pointer;
    white-space: nowrap;
}
.main_board {
    padding: 5px 0;
}
.main_board_table {
    width: 100%;
}

.create_myproject_profile {
    display: flex;
    justify-content: space-between;
}
.main_myproject_profile {
    width: 100%;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main_myproject_profile > button {
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    background-color: unset;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.main_myproject_generate {
    box-sizing: border-box;
    border-radius: 1vw;
    border: dashed 2px gray;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
}

.main_myproject_generTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    padding-right: 10px;
}

.main_myproject_show {
    border-radius: 1vw;
    width: 3vw;
    height: 3vw;
    background-color: violet;
}

.main_lower_block {
    background-color: white;
    border-radius: 2vw;
    width: 96vw;
    height: 25vw;
    margin-top: 6vw;
    margin-left: 2.5vw;
}

.main_team_txt {
    font-size: 2vw;
    font-weight: 700;
    padding-left: 2vw;
    padding-top: 1vw;
}

.main_myproject_name {
    color: black;
    font-size: 1vw;
    font-weight: 600;
    line-height: 1.5vw;
}

.main_myproject_stat {
    color: gray;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 1.5vw;
    text-align: end;
}

.txt_place {
    padding-left: 1vw;
    padding-right: 10px;
}

.main_plus {
    padding-top: 10px;
    color: gray;
    font-size: 14px;
    background-color: unset;
    border: 0;
    cursor: pointer;
}
.selected {
    font-weight: bold;
}
thead th {
    white-space: nowrap;
}
tbody td {
    text-align: center;
    white-space: nowrap;
}
.hidden {
    display: none;
}

.th1 {
    width: 50%;
}
.th2 {
    width: 25%;
}
.th3 {
    width: 25%;
}
tr {
    cursor: pointer;
}
