* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: "IBM Plex Sans KR", sans-serif;
    background-color: #ffda31;
}
main {
    width: 100%;
    min-height: calc(100vh - 100px - 150px);
    display: flex;
    position: relative;
    padding-top: 100px;
    white-space: nowrap;
}
.profile_img_section {
    width: 50%;
    height: 100%;
    background-color: #ffda31;
    display: flex;
    flex-direction: column;
}
.profile_img_top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.profile_more {
    margin-right: 30px;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
}
.profile_more > img {
    width: 100%;
    height: 100%;
}
.profile_more > button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: unset;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.profile_img_middle {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_img_box {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 4px solid #ebe6e6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.profile_img_box > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile_img_bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.profile_select_box {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
}
.profile_select_box > button {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: unset;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.profile_detail_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.name_box {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.name_box > * {
    height: 100%;
}
.name_box > *:first-child {
    width: 10%;
    font-size: 18px;
    color: #888686;
}
.name_box > *:nth-child(2) {
    width: 50%;
    border: 0;
    border-bottom: 3px solid #e4e3e3;
}
.email_box {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.email_box > *:first-child {
    width: 10%;
    font-size: 18px;
    color: #888686;
}
.email_box > *:nth-child(2) {
    width: 50%;
    border: 0;
    border-bottom: 3px solid #e4e3e3;
}
.email_box > * {
    height: 100%;
}
.update_box {
    position: relative;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.update_box > button {
    background-color: #ffda31;
    margin-right: 20px;
    width: 90px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}
#popup {
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    font-size: 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
ul {
    height: calc(300px - 20px - 20px);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
}

.mypage-li {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

label {
    display: block;
    width: 500px;
    padding: 30px 0;
}
#newName {
    border-style: none;
    border-bottom: solid gray;
    width: 346px;
    height: 50px;
}
#newEmail {
    border-style: none;
    border-bottom: solid gray;
    width: 346px;
    height: 50px;
    font-size: larger;
}
.profile-save {
    width: 80px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ffda31;
    cursor: pointer;
}
#pwdPopup {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 500px;
    height: 500px;
    z-index: 1;
    inset: 0px;
    margin: auto;
    background-color: rgb(254, 254, 254);
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    font-size: 20px;
    border-radius: 10px;
    padding: 0 50px;
    box-sizing: border-box;
}
#pwdPopup > * {
    width: 100%;
}
.user-pwd {
    padding: 0;
    margin-top: 20px;
    padding: 20px 0;
}
.pwd-check {
    border-style: none;
    border-bottom: #bcbcbc solid 3px;
    padding: 10px 0px;
}
.new-pwd-button {
    width: 100px;
    height: 50px;
    background-color: #ffda31;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 25px;
    position: relative;
    right: 0;
    cursor: pointer;
}
#user_img {
    display: none;
}

#deletePopup {
    display: block;
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 1;
    inset: 0px;
    margin: auto;
    background-color: rgb(254, 254, 254);
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    font-size: 20px;
    border-radius: 10px;
    padding: 25px;
}
.pwd-now {
    border-style: none;
    padding: 20px;
    border-bottom: #bcbcbc solid 3px;
    width: 200px;
}
.exit-pwd-button {
    width: 100px;
    height: 50px;
    background-color: #ffda31;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 25px;
    position: relative;
    left: 200px;
    cursor: pointer;
    top: 100px;
}
.pwd {
    padding-top: 35px;
}

#username,
#useremail {
    text-align: center;
}

.padding {
    padding-right: 20px;
}

.hidden {
    display: none;
}

.button-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.close-btn-box {
    width: 100%;
    height: 20px;
    position: relative;
}
.close-btn-box * {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: unset;
    border: 0;
    cursor: pointer;
}

input {
    text-align: center;
}
