<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../../../../public/img/logo.png" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://apis.google.com/js/api.js"></script>
        <title>구글 로그인</title>
    </head>
    <body>
        <script src="../../public/js/start/google.js"></script>
    </body>
</html>
