<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/idFind.css" />
        <link rel="stylesheet" href="../../public/css/main.css" />
        <link rel="stylesheet" href="../../public/css/common/font.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    </head>
    <body>
        <main>
            <div id="contain">
                <!--header 시작-->
                <div id="header">
                    <div id="header-img">
                        <a href="/start" class="start-img">
                            <img src="../../public/img/start-dog.png" id="start-dog"
                        /></a>
                    </div>
                    <p id="header-text">
                        <a href="/start" class="start-img"
                            ><span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보</a
                        >
                    </p>
                </div>
                <form id="find-user">
                    <div class="text-aria">
                        <input type="text" id="user" placeholder="이름" class="input" required />
                    </div>
                    <br />
                    <select name="ans" id="ans" class="text-aria">
                        <option selected disabled hidden>이메일 확인 질문</option>
                        <option class="ans" value="father">아버지의 성함은?</option>
                        <option class="ans" value="school">초등학교 모교 이름?</option>
                        <option class="ans" value="place">제일 기억에 남는 추억의 장소?</option>
                    </select>
                    <br />
                    <div class="text-aria">
                        <input type="text" placeholder="이메일 확인 답변" class="input" required />
                    </div>
                    <br />
                </form>
                <br />
                <div class="exit">
                    <div id="under-contain">
                        <input type="submit" class="find-login" form="find-user" value="이메일 찾기" />
                        <a href="/start/login" class="find-login">돌아가기</a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
