<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/index.css" />
        <link rel="stylesheet" href="../public/css/main.css" />
        <link rel="stylesheet" href="../public/css/common/font.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    </head>
    <body>
        <main>
            <div id="contain">
                <div id="header">
                    <div id="header-img">
                        <a href="/start" ><img src="../../public/img/start-dog.png" id="start-dog" /></a>
                    </div>
                    <p id="header-text"><span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보</a
                        >
                    </p>
                </div>

                <div id="login-type">
                    <div id="email">
                        <a href="/start/login" title="로그인 페이지로 이동"><img src="../../public/img/email-login.png" id="email-login" /></a>
                    </div>
                    <div id="google">
                        <button onclick="googleLogin()">
                            <img src="../../public/img/google-login.png" id="google-login" />
                        </button>
                    </div>
                    <div id="kakao">
                        <button onclick="kakaoLogin()">
                            <img src="../../public/img/kakao-login.png" id="kakao-login" />
                        </button>
                    </div>
                </div>
                <a
                    href="/start/signup"
                    class="email-write"
                    style="text-decoration: none; color: black; background-color: white"
                    ><div class="email-write">이메일로 회원가입</div></a
                >
            </div>
        </main>
        <script>
            function kakaoLogin() {
                document.location.href = `https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=<%= process.env.KAKAO_CLIENT_ID%>&redirect_uri=<%= process.env.KAKAO_REDIRECT_URI%>`;
            }
            function googleLogin() {
                document.location.href = `https://accounts.google.com/o/oauth2/v2/auth?scope=email profile&response_type=token&state=state_parameter_passthrough_value&redirect_uri=<%= process.env.GOOGLE_REDIRECT_URI%>&client_id=<%= process.env.GOOGLE_CLIENT_ID%>`;
            }
        </script>
    </body>
</html>
