<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/index.css" />
    </head>
    <body>
        <main>
            <div id="contain">
                <div id="header">
                    <div id="header-img">
                        <a href="/start"><img src="../../public/img/start-dog.png" id="start-dog" /></a>
                    </div>
                    <p id="header-text">
                        <a href="/start" style="text-decoration: none; color: black"
                            ><span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보</a
                        >
                    </p>
                </div>

                <div id="login-type">
                    <div id="email">
                        <a href="/start/signup"><img src="../../public/img/email-login.png" id="email-login" /></a>
                    </div>
                    <div id="google">
                        <button onclick="googleLogin()">
                            <img src="../../public/img/google-login.png" id="google-login" />
                        </button>
                    </div>
                    <div id="kakao">
                        <button onclick="kakaoLogin()">
                            <img src="../../public/img/kakao-login.png" id="kakao-login" />
                        </button>
                    </div>
                </div>
                <a
                    href="/start/signup"
                    class="email-write"
                    style="text-decoration: none; color: black; background-color: white"
                    ><div class="email-write">이메일로 회원가입</div></a
                >
            </div>
        </main>
        <script>
            function kakaoLogin() {
                document.location.href =
                    'https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=2fc7dcbf171bcbe73529d269bb610913&redirect_uri=http://localhost:8000/start/kakao';
            }
            function googleLogin() {
                document.location.href =
                    'https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A//www.googleapis.com/auth/drive.metadata.readonly&include_granted_scopes=true&response_type=token&state=state_parameter_passthrough_value&redirect_uri=http://localhost:8000/start/google&client_id=629071446303-beeb31pu6l2t8003h4lt42mcp01sc5au.apps.googleusercontent.com';
            }
        </script>
    </body>
</html>
