<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="Gae-Call\public\css\start\index.css" />
    </head>
    <body>
        <div id="header">
            <h1><img src="/public/img/start-dog.png" alt="" /> 안녕하세요</h1>
        </div>

        <div id="login-type">
            <div id="email">
                <img src="/public/img/email-login.png" alt="Email Login" />
            </div>
            <div id="google">
                <img src="/public/img/google-login.png" id="google-login" />
            </div>
            <div id="kakao">
                <img src="/public/img/kakao-login.png" id="kakao-login" />
            </div>
        </div>

        <div id="email-write">이메일로 회원가입</div>
    </body>
</html>
