<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Kakao JavaScript SDK</title>
        <script src="YOUR_SDK_FILE_PATH"></script>
        <script>
            // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해야 합니다.
            Kakao.init('dee402ec53e7dea3b67fb76057f12b34');

            // SDK 초기화 여부를 판단합니다.
            console.log(Kakao.isInitialized());
        </script>
    </head>
    <body></body>
</html>
