<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/login.css">
    </head>
    <body>
        <main>
            <div id="contain">
                <!--header 시작-->
                <div id="header">
                    <div id="header-img">
                        <a href="/start"> <img src="../../public/img/start-dog.png" id="start-dog" /></a>
                    </div>
                    <p id="header-text">
                        <a href="/start" style="text-decoration: none; color: black"
                            ><span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보</a
                        >
                    </p>
                </div>
                    <div id="login-text">
                    <div class="text-aria">
                        <input type="text" id="id" placeholder="아이디"  class="input" required >
                    </div>
                    <br>
                    <div class="text-aria">
                        <input type="password" id="password" placeholder="비밀번호" class="input" required >
                    </div>
                    <br>
                    <input type="checkbox"><label>로그인 상태 유지</label>
                </div>
                <br>
                <a href="/" class="login" style="text-decoration: none; color: white; background-color: black"><div class="login">로그인</div></a>
                <div id="find">
                    <a href="/start/idFind" style="text-decoration: none; color: black;"
                        ><div>아이디 찾기</div></a
                    >
                    <a href="/start/pwFind" style="text-decoration: none; color: black;"
                        ><div>비밀번호 찾기</div></a
                    >
                </div>
                <script src="../../public/js/start/login.js"></script>
        </main>
    </body>
</html>
