<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/pwFind.css" />
    </head>
    <body>
        <main>
            <div id="contain">
                <!--header 시작-->
                <div id="header">
                    <div id="header-img">
                        <a href="/start" class="start-img"> <img src="../../public/img/start-dog.png" id="start-dog" /></a>
                    </div>
                    <p id="header-text">
                        <a href="/start" class="start-img"><span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보</a
                        >
                    </p>
                </div>
                <form id="find-user">
                    <div class="text-aria">
                    <input type="text" id="user" placeholder="이름" class="input" required>
                </div>
                <br>

                <div class="text-aria">
                    <input type="email" id="emil" placeholder="이메일 " class="input" required>
                </div>
            </form>
                <div id="contain-under">
                    <input type="submit" class="find-login" form="find-user" value="비밀번호 찾기" />
                <a href="/start/login" class="find-login">돌아가기</a>
            </div>
           </main>
    </body>
</html>
