<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/pwFind.css" />
    </head>
    <body>
        <main>
            <div id="contain">
                <!--header 시작-->
                <div id="header">
                    <div id="header-img">
                        <a href="/start"> <img src="../../public/img/start-dog.png" id="start-dog" /></a>
                    </div>
                    <p id="header-text">
                        <span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보
                    </p>
                </div>
                <div id="find-name">
                    <div class="text-aria">
                    <input type="text" id="name" placeholder="이름" class="input">
                </div>
                <br>
                <div class="text-aria">
                    <input type="text" id="id" placeholder="아이디" class="input">
                </div>
                <br>
                <div class="text-aria">
                    <input type="email" id="emil" placeholder="이메일 " class="input">
                </div>
                </div>
                <div id="contain-under">
                <div id="find-login"><a href=""  style="text-decoration: none; color: white; background-color: black">비밀번호 찾기</a></div>
                <div id="exit"><a href="/start/login" style="text-decoration: none; color: white; background-color: black">돌아가기</a></div>
            </div>
           </main>
    </body>
</html>
