<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Call</title>
        <link rel="stylesheet" href="../../public/css/start/signup.css" />
    </head>
    <body>
        <main>
            <div id="contain">
                <!--header 시작-->
                <div id="header">
                    <div id="header-img">
                        <a href="/start"> <img src="../../public/img/start-dog.png" id="start-dog" /></a>
                    </div>
                    <p id="header-text">
                        <span class="header-text1">개</span>린이 <span class="header-text1">콜</span>라보
                    </p>
                </div>
                <!--header 시작 후 회원가입-->
                <div id="main-text">
                    <div class="text-aria"><input type="text" id="name" placeholder="이름" class="input" /></div>
                    <br />
                    <div class="password-div">
                        <div class="text-aria">
                            <input type="email" id="email" placeholder="이메일" class="input" />
                        </div>
                        <button type="button" class="button">인증 번호 전송</button>
                    </div>
                    <br />
                    <div class="password-div">
                        <div class="text-aria">
                            <input type="email" id="email-number" placeholder="이메일 확인" class="input" />
                        </div>
                        <button type="button" class="button">확인</button>
                    </div>
                    <br />
                    <div class="text-aria">
                        <input type="password" id="password" placeholder="비밀번호" class="input" /><br />
                    </div>
                    <br />
                    <div class="text-aria">
                        <input type="password" id="password-test" placeholder="비밀번호 확인" class="input" />
                    </div>
                </div>
                <br />
                <div id="signup">
                    <a href="/start/login" style="text-decoration: none; color: white; background-color: black"
                        >회원 가입 완료</a
                    >
                </div>
            </div>
        </main>
    </body>
</html>
