/*전체 웹페이지 폰트*/
.ibm-plex sans kr-regular {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*        <link rel="stylesheet" href="../public/css/main.css" />
        <link rel="stylesheet" href="../public/css/common/font.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
*/
/*해당 css에다가 넣기
body {
    font-family: 'IBM Plex Sans KR', sans-serif;
}*/
/*header
전체적인 폰트 사이즈 : 20px
logo, mypage(div)
weight : 50px
height : 50px 
개, 콜 : 40px
a태그 :
display :flex
*/
/*footer    
전체적인 폰트 사이즈 : 20px
height : 150px
*/
/*전체적인 폰트 사이즈
제목 : 25px
본문(리스트, 내용 text) : 20px
*/
