/*footer 화면 밑에다가 고정*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    min-height: calc(100% - 60px); /* 60px는 footer의 높이로 설정 */
}

.footer {
    height: 60px;
}

#contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9e9bf;
    height: 12vw;
    width: 100vw;
}
/*chat icon 설정*/
#icon {
    position: fixed;
    bottom: 2vw;
    right: 4vw;
    border-radius: 50px;
    background-color: white;
    padding: 12px;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    /* z-index: 98; */
    transition: bottom 0.5s ease-out;
}
#icon-img {
    /* z-index: 99; */
    background-color: white;
    width: 100%;
    height: 100%;
}

/*왼쪽 text 설정*/
#left {
    display: flex;
    align-items: center;
    background-color: #d9e9bf;
    margin-left: 2vw;
}
#US {
    padding-left: 2vw;
    background-color: #d9e9bf;
}
#email {
    padding: 0 30px;
    background-color: #d9e9bf;
}
#email-img {
    width: 3vw;
    height: 3vw;
    background-color: #d9e9bf;
}
#phone-img {
    width: 3vw;
    height: 3vw;
    background-color: #d9e9bf;
}
#phone {
    background-color: #d9e9bf;
}

/*왼쪽 text 설정*/
#right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #d9e9bf;
    margin-right: 2vw;
}
#img {
    padding-right: 2vw;
    background-color: #d9e9bf;
}
#git,
#a {
    background-color: #d9e9bf;
}
#GAECO {
    padding-right: 2vw;
    background-color: #d9e9bf;
}
