* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#header_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vw;
}

#header {
    z-index: 100;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    position: fixed;
    top: 0vh;
    height: 7vw;
    background-color: #d9e9bf;
}

.header_menu1 {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    /* line-height: 10vh; 왜 적용안됨? */
}

.header_menu3 {
    padding-right: 2vw;
}
.header_menu2 {
    padding-right: 2vw;
    /* 가운데에 오게하는 코드? */
}

.logo {
    width: 4vw;
    height: 4vw;
}
.mypage_logo {
    width: 4vw;
    height: 4vw;
}
.header_img {
    width: 100%;
    height: 100%;
}

.big_txt {
    font-weight: 700;
    font-size: 1.5rem;
}
