<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gae-Coll</title>
        <link rel="stylesheet" href="../../public/css/common/footer.css" />
        <link rel="icon" href="../../../../public/img/logo.png" />
    </head>
    <body>
        <footer id="contain">
            <div id="left">
                <div id="US">CONTACT US</div>
                <div id="email"><img src="../../public/img/email.png" id="email-img" />help@gamil.com</div>
                <div id="phone"><img src="../../public/img/phone.png" id="phone-img" />010-0000-0000</div>
            </div>
            <div id="img">
                <div id="right">
                    <a href="https://github.com/Hyunkyung-Nam/Gae-Call" id="a">
                        <div id="git"><img src="../../public/img/github-noback.png" /></div
                    ></a>
                    <div id="GAECO">GAECO Corp.ALl rights reserved.</div>
                </div>
            </div>
        </footer>
    </body>
    <script src="../../public/js/common/footer.js"></script>
</html>
