<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>common_header</title>
        <link rel="stylesheet" href="../../public/css/common/header.css" />
        <link rel="stylesheet" href="../../public/css/common/font.css" />
        <link rel="icon" href="../../../../public/img/logo.png" />
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    </head>
    <body>
        <header id="header">
            <div id="header_wrap">
                <a href="/" class="a-style">
                    <div class="header_menu1">
                        <div class="header_logo"><img class="logo" src="../../public/img/logo.png" /></div>
                        <div class="fulltxt">
                            <span class="big_txt">개</span><span class="small_txt">린이</span
                            ><span class="big_txt">콜</span><span class="small_txt">라보</span>
                        </div>
                    </div></a
                >

                <div class="header_menu2">
                    <div id="now_date"></div>
                </div>

                <div class="header_menu3">
                    <div class="mypage_logo">
                        <a href="/mypage"><img class="header_img" src="../../../public/img/mypage1.png" /></a>
                    </div>
                </div>
            </div>
        </header>

        <script src="../../public/js/common/header.js"></script>
    </body>
</html>
