<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>common_header</title>
        <link rel="stylesheet" href="../css/common/header.css" />
    </head>
    <body>
        <header id="header">
            <div id="header_wrap">
                <div class="header_menu1">
                    <div id="header_logo"></div>
                   <span class="fulltxt"><span class="big_txt">개</span>
                    <span class="small_txt">린이</span><span class="big_txt">콜</span><span class="small_txt">라보</span>
                </div>

                <div class="header_menu2">
                    <div class="now_date">날짜</div>
                </div>

                <div class="header_menu3">
                    <div class="header_img"><img src="../public/img/mypage1.png" /></div>
                </div>
            </div>
        </header>
    </body>
</html>
