* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}
main {
    padding-top: 140px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

nav {
    position: relative;
    margin-top: 103px;
}

section {
    position: relative;
}

.status_modify {
    margin-top: 0.5vw;
    margin-left: 5vw;
    background-color: #b8b4b4;
    border-radius: 2vw;
    width: 13vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    border: none;
}

.status_modify:hover {
    opacity: 0.7;
    cursor: pointer;
}

.top_bar_line1 {
    color: hsl(0, 0%, 86%);
    text-align: center;
    height: 0.2vw;
    background-color: hsl(0, 0%, 86%);
    border: 0;
    bottom: 3vw;
    margin-top: 1vw;
}

.write_board_name {
    margin-top: 10px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90vw;
    border: none;
    outline: none;
    font-size: 30px;
}
.board2,
.board3 {
    margin-bottom: 10px;
}

.write_board_name::placeholder {
    color: gray;
    font-size: 30px;
    font-weight: 700;
}

.board_manager,
.board_deadline,
.board_project,
.board_explain {
    width: 20vw;
    color: gray;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 20px;
}

.write_explain {
    box-sizing: border-box;
    font-weight: 900;
    width: 100%;
    height: 20vw;
    /* background-color: bisque; */
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    border: 0;
    font-size: 15px;
    outline: none;
    line-height: 30px;
    cursor: text;
}

.write_explain::placeholder {
    color: gray;
    font-size: 30px;
    font-weight: 700;
}

.write_explain:hover {
    border: 0.1vw solid gray;
    border-radius: 1vw;
}

.top_bar_line2 {
    color: hsl(0, 0%, 86%);
    text-align: center;
    height: 0.2vw;
    background-color: hsl(0, 0%, 86%);
    border: 0;
}

.board_comment {
    background-color: hsl(0, 3%, 93%);
    padding-bottom: 3.5vw;
    padding-top: 2vw;
    height: 10vw;
    position: relative;
}

.member_profile_img {
    background-color: blueviolet;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.comment_area {
    border-radius: 1vw;
    width: 78vw;
    height: 8vw;
    background-color: white;
    border: 0.5px solid gray;
    margin-left: 2vw;
    padding-left: 1vw;
    padding-top: 1vw;
    color: black;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 30px;
}

.comment_area::placeholder {
    color: gray;
    font-size: 15px;
    line-height: 30px;
}

.wrap_comment {
    display: flex;
}

.member_profile_img {
    margin-left: 5vw;
}

.wirte_button {
    position: relative;
    left: 91vw;
    width: 4vw;
    height: 2vw;
    background-color: gray;
    border: 0;
    border-radius: 0.5vw;
}

.board_menu_wrap1,
.board_menu_wrap2,
.board_menu_wrap3 {
    display: flex;
}

.manager_generate .open_calender,
.select_project {
    background-color: #f3f2f2;
    margin-left: -9vw;
    width: 125px;
    margin-top: 2vw;
    color: gray;
    display: flex;
    box-shadow: 1px 1px #d7d7d7;
}

.manager_generate:hover,
click {
    background-color: hsl(0, 0%, 89%);
    cursor: pointer;
}

.open_calender:hover,
click {
    background-color: hsl(0, 0%, 89%);
    cursor: pointer;
}

.select_project:hover,
click {
    background-color: hsl(0, 0%, 89%);
    cursor: pointer;
}

.profile_empty {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: gray dashed 2px;
    font-weight: 700;
    background-color: white;
    font-size: 1.5vw;
    text-align: center;
    line-height: 2vw;
    color: gray;
}

.name_empty {
    font-size: 1vw;
    text-align: center;
    line-height: 2.5vw;
    width: 10vw;
}

.open_calender,
.select_project {
    width: 15vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
}

.open_calender {
    line-height: 3vw;
    text-align: center;
}

.select_project {
    line-height: 3vw;
    text-align: center;
}

.back_icon {
    color: gray;
    font-weight: 800;
    padding-left: 3vw;
    width: 2vw;
    height: 3vw;
    object-fit: cover;
}

.back_icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.top_bar {
    display: flex;
    justify-content: space-between;
}
.managers {
    display: flex;
    line-height: 2vw;
    text-align: center;
}

.managers > .profile_empty {
    margin-top: 0.3vw;
}

.right_wrap {
    margin-right: 5vw;
}

/* ------------------------------------select box css */

.placement_status {
    margin-left: 1.5vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    width: 10vw;
    height: 2vw;
    line-height: 2vw;
    align-items: center;
}

#bg_blue {
    background-color: hsl(199, 74%, 85%);
}

#bg_yellow {
    background-color: #f9f9c1;
}

#bg_purple {
    background-color: #f8d6f8;
}

#bg_green {
    background-color: #d2f5d2;
}

#bg_red {
    background-color: #f8cfcf;
}

#bg_black {
    background-color: #d1d0d0;
}

.circle {
    border-radius: 50%;
    width: 1vw;
    height: 1vw;

    margin-right: 0.5vw;
}

#blue {
    background-color: hsl(198, 60%, 70%);
}

#yellow {
    background-color: #eaea5e;
}
#purple {
    background-color: purple;
}
#green {
    background-color: #328d32;
}
#red {
    background-color: #f25c5c;
}
#black {
    background-color: #504e4e;
}

.status_txt {
    font-size: 13px;
    font-weight: 700;
}

.select_box * {
    box-sizing: border-box;
}
.select_box {
    left: 527px;
    display: flex;
    position: relative;
    width: 15vw;
    height: 3vw;
    border-radius: 4px;
    border: none;
    background: white;
    /* background-size: 20px; */
    cursor: pointer;
}

/* .select_box .status_modify {
    display: flex;
    align-items: start;
    width: 15vw;
    height: 3vw;
    border: 0 none;
    outline: 0 none;
    padding-left: 2px;
    background: transparent;
    cursor: pointer;
} */

.select_box .option_list {
    top: 4vw;
    position: absolute;
    margin-left: 5vw;
    width: 13vw;
    background: #bfbfbf;
    color: black;
    list-style: none;
    padding-left: 0px;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in;
}

.select_box.active .option_list {
    max-height: 500px;
}

.select_box .option_item {
    border-bottom: 1px dashed black;
    transition: 0.1s;
}

.option_item {
    padding-right: 5vw;
    list-style: none;
    padding-left: 0;
}
.option_item:hover {
    opacity: 0.7;
}

.select_box .option_item:last-child {
    border-bottom: 0 none;
}

/* 스크롤 커스텀 */
.select_box .option_list::-webkit-scrollbar {
    width: 6px;
}
.select_box .option_list::-webkit-scrollbar-track {
    background: transparent;
}
.select_box .option_list::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 45px;
}
.select_box .option_list::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

.board3 {
    display: flex;
    align-items: center;
}

#myProject {
    padding: 3px 10px;
    width: auto;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

#dialog {
    width: 300px;
    height: 400px;
    padding: 20px 10px 0 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-btn {
    width: fit-content;
    padding: 0;
}
dialog > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px 10px;
    font-size: 20px;
    font-weight: bold;
}
form > ul {
    width: 100%;
}
form > ul > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.workboard {
    width: 100%;
}

.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.td1 > input {
    width: 100%;
    border: 0;
    height: 100%;
    background-color: unset;
}
#selectMember {
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    padding: 30px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#selectMember form {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
}
#selectMember form div {
    height: 50px;
    display: flex;
    align-items: center;
}
#selectMember button {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
#datepicker {
    width: 100%;
    height: 100%;
}
#status-btn {
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status_txt1 {
    border-radius: 10px;
    cursor: pointer;
}
.placement_status_new {
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    min-width: 120px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    border: 0;
    background-color: unset;
}

#bg_blue,
.blue {
    background-color: hsl(199, 74%, 85%);
}

#bg_yellow,
.yellow {
    background-color: #f9f9c1;
}

#bg_purple,
.purple {
    background-color: #f8d6f8;
}

#bg_green,
.green {
    background-color: #d2f5d2;
}

#bg_red,
.red {
    background-color: #f8cfcf;
}

#bg_black,
.black {
    background-color: #d1d0d0;
}

.circle1 {
    border-radius: 50%;
    width: 15px;
    height: 15px;

    margin-right: 0.5vw;
}
.work_managers {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    background-color: #ffda31;
    cursor: pointer;
}

#submit-btn-box {
    display: flex;
    justify-content: end;
}
