* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

button {
    border-radius: 10px;
    margin-left: 1px;
}

.bg {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f5f5f5;
    width: calc(100%-100px);
    height: 80vw;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-top: 160px;
    justify-content: space-between;
    padding-left: 25px;
    border-radius: 20px;
}

.calender {
    display: flex;
    width: 65vw;
    height: 75vw;
    margin-top: 25px;
    /* padding-left: 25px;
    padding-right: 25px; */
    display: inline-block;
    /* margin-collapsed */
    background-color: white;
    padding-bottom: 25px;
    border-radius: 20px;
}

.date_head div {
    background-color: transparent;
}

.grid {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: #f5f5f5;
}

.grid div {
    font-size: 20px;
    cursor: pointer;
}

.date_board div {
    font-weight: bold;
    border: 1px solid #bfbfbf;
}

.date_head {
    color: black;
    font-size: 20px;
    font-weight: 700;
    width: 60vw;
    text-align: center;
}

.date_board {
    border-collapse: collapse;
    grid-gap: 0;
    width: 60vw;
    height: 65vw;
}

.calender_right {
    /* display: flex; */
    justify-content: end;
}

.no_color {
    color: #bfbfbf;
}

.button_wrap {
    background-color: white;
    display: flex;

    margin-top: 25px;
    border: #bfbfbf;
    width: 1000px;
}

.prev,
.next {
    width: 4vw;
    height: 3vw;
    line-height: 3vw;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    border-collapse: collapse;
    border: solid 0.5px #bfbfbf;
}

.prev,
.next:hover {
    cursor: pointer;
    opacity: 0.7;
    border: solid 0.5px #bfbfbf;
}

.today {
    width: 8vw;
    height: 3vw;
    line-height: 3vw;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    border-collapse: collapse;
    border: solid 0.5px #bfbfbf;
}

.today:hover {
    cursor: pointer;
    opacity: 0.7;
}

.calender_title {
    width: 15vw;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    text-align: center;
    line-height: 15px;
    margin-left: 25px;
    background-color: white;
}

.calender_title:hover {
    cursor: pointer;
    opacity: 0.7;
}

.all_button_wrap {
    display: flex;
    justify-content: space-between;
}
#private {
    text-align: left;
    margin-left: 10px;
}

#team {
    text-align: left;
    margin-left: 10px;
}

#make_calender {
    width: 16vw;
    height: 3vw;
    line-height: 3vw;
    margin-top: 25px;
    text-align: center;
}

.date_wrap {
    margin-top: 25px;
    place-items: center;
    display: grid;
}

.no_color,
.day_number {
    padding-left: 0.5vw;
    padding-top: 0.5vw;
}

.select_calender {
    width: 230px;
    height: 180px;
    background-color: hsl(0, 7%, 92%);
    border: none;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 10px;
}

.shape2 {
    margin-top: 0.1vw;
}

.top_right {
    display: flex;
    font-weight: 700;
}

.top_wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.check_wrap {
    margin-top: 25px;
}

.calender_name {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 700;
}

[checkbox] {
    margin-left: 5px;
    margin-top: 5px;
}

/* 팝업 달력 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #ffffff; */
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    /* width: 300px;
    height: 200px; */

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

/* 미디어 쿼리 */

@media screen and (max-width: 1100px) {
    .grid div {
        font-size: 15px;
    }
    .date_board div {
        font-size: 15px;
    }
    .date_head {
        font-size: 15px;
    }
    .prev,
    .next {
        font-size: 15px;
    }
    .today {
        font-size: 15px;
    }
    .calender_title {
        font-size: 15px;
    }
    label {
        font-size: 15px;
    }
    .calender_name {
        font-size: 15px;
    }
}

@media screen and (max-width: 1215px) {
    .bg {
        height: 100%;
    }
    .calender {
        width: 75%;
        height: 100%;
    }
    .grid {
        width: 90%;
    }
    .date_head {
        width: 90%;
    }
    .date_board {
        width: 90%;
    }
    .select_calender {
        width: 160px;
        height: 120px;
    }
}

@media screen and (max-width: 830px) {
    .bg {
        height: 100%;
    }
    .calender {
        width: 72%;
        height: 100%;
    }
    .grid {
        width: 80%;
    }
    .date_head {
        width: 80%;
    }
    .date_board {
        width: 80%;
    }
    .select_calender {
        width: 110px;
        height: 100px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 810px) {
    .grid div {
        font-size: 10px;
    }
    .date_board div {
        font-size: 10px;
    }
    .date_head {
        font-size: 10px;
    }
    .prev,
    .next {
        font-size: 10px;
    }
    .today {
        font-size: 10px;
    }
    .calender_title {
        font-size: 10px;
    }
    label {
        font-size: 10px;
    }
    .calender_name {
        font-size: 10px;
    }
}

@media screen and (max-width: 560px) {
    .bg {
        margin-top: 160px;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0;
        padding-right: 25px;
        /* left는 위에서 줌 */
    }

    .calender {
        width: 100%;
        height: 100%;
        margin-right: 0px;
        padding: 0;
    }
    .grid {
        width: 100%;
    }
    .date_head {
        width: 100%;
    }
    .date_board {
        width: 100%;
    }
    .select_calender {
        width: 140px;
        height: 100px;
        padding: 0;
        margin: 0;
        margin-top: 170px;
    }
    .make_calender {
        margin-right: 10px;
    }
}
