/*전체 큰 틀*/
body {
    overflow-x: hidden;
}
#contain-home {
    width: 96vw;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 18vw;
    height: auto;
    background-color: rgb(58, 55, 55);
    border-radius: 1vw;
    margin-left: 2vw;
}
/*project overview*/
#overview-contain {
    margin: 2vw 0 2vw 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 94vw;
    height: auto;
}
#overview-header {
    padding: 1vw 0 1vw 2vw;
}
#pen-img-div {
    width: 2vw;
    height: 2vw;
}
#pen-img {
    width: 100%;
    height: 100%;
}
#overview-main {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2vw;
}

/*member*/
#member-contain {
    margin: 2vw 0 2vw 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 94vw;
    height: auto;
}
#member-header {
    padding-left: 2vw;
    padding-top: 1vw;
}
#pen-img-div {
    width: 2vw;
    height: 2vw;
}
#pen-img {
    width: 100%;
    height: 100%;
}
#member-main {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vw;
}
/*프로젝트 규칙, 이슈 노트, 기획, ERD구조, API 명세 큰 틀*/
#project-big-contain {
    display: flex;
}

#rule-issue {
    width: 65vw;
    height: auto;
}
/*프로젝트 규칙 시작*/
#project-rule-contain,
#project-issue-contain {
    margin: 2vw 0 0 1vw;
    background-color: white;
    border-radius: 1vw;
    height: auto;
    margin-bottom: 2vw;
}
.project-img-div {
    width: 2vw;
    height: 2vw;
}
.project-img {
    width: 100%;
    height: 100%;
}
#rule-contain {
    display: flex;
    padding: 1vw 0 2vw 2vw;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}
#project-rule {
    padding: 0 1vw;
}
.li {
    position: relative;
    padding: 1vw 0;
    font-size: 1.5vw;
    word-break: break-word; /* 텍스트가 너비를 초과할 경우 다음 줄로 내려감 */
    max-width: 50vw;
}
#rule-li {
    padding: 1vw 0 2vw 5vw;
}
.rule-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 5vw; /* 아이콘을 텍스트 옆에 위치시키기 위한 값 */
}

li:hover .rule-icon {
    display: block;
}
.rule-img {
    width: 3vw;
    height: 3vw;
    padding-right: 2vw;
}
/*파일 업로드 부분 큰 틀*/
#file-upload-contain {
    margin: 2vw 1vw 0 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 50vw;
    height: auto;
    margin-bottom: 2vw;
}
/*file 업로드 공통적인 부분*/
.file-name {
    display: flex;
    padding: 1vw 0 2vw 2vw;
    align-items: center;
}
.file-plus-div {
    padding-left: 2vw;
    width: 1.5vw;
    height: 1.5vw;
}
.file-plus {
    width: 100%;
    height: 100%;
}
.file-upload-view {
    display: flex;
}
.upload-name {
    font-size: small;
}
.file-contain-row {
    display: flex;
    width: 40vw;
    height: 11vw;
    overflow-x: auto;
    flex-direction: row;
    align-items: center;
}
.file-contain {
    height: 20vw;
}

/*기획의 큰 틀 시작*/
.plan-text {
    width: 15vw;
    height: 5vw;
    background-color: gray;
    border-radius: 20vw;
    margin-left: 5vw;
}
.plan-file-contain {
    width: 100%;
    height: 100%;
}
/*erd 구조*/
#erd-text {
    width: 100%;
    height: 15vw;
}
/*api 명세 */
#api-text {
    width: 100%;
    height: 15vw;
}

/*issue-note 시작*/
#issue-contain {
    width: 50vw;
    height: auto;
}
#issue-text-contain {
    height: 50vw;
}
.issue-text-day-contain {
    display: flex;
    padding: 0 0 0 3vw;
    align-items: center;
    height: 5vw;
    text-align: center;
}
.issue-text {
    width: 30vw;
    word-wrap: break-word;
}
.issue-day {
    width: 15vw;
    word-wrap: break-word;
}

/*아래 큰 틀*/
#under-contain {
    display: flex;
}
#line {
    height: 3px;
    background-color: gray;
    margin: 0 2vw;
}
/*팀 활동 시작*/
#team-work-contain {
    margin: 2vw 1vw 0 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 65vw;
    height: 30vw;
    margin-bottom: 2vw;
}
#team-work,
#feedback,
#issue-header {
    display: flex;
    padding: 2vw;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}
.team-work-list {
    padding: 1vw 0 1vw 3vw;
    display: flex;
    align-items: center;
}
#team-work-list-text {
    padding-left: 2vw;
}

/*피드백 요청 목록*/
#feedback-work-contain {
    margin: 2vw 1vw 0 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 50vw;
    height: 30vw;
    margin-bottom: 2vw;
}
.feedback-list {
    padding: 1vw 0 1vw 3vw;
    display: flex;
    align-items: center;
}
#feedback-list-text {
    padding-left: 2vw;
}
.img {
    width: 4vw;
}
