/*전체 큰 틀*/
body {
    overflow-x: hidden;
}
#contain-home {
    width: 98vw;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 18vw;
    height: auto;
    background-color: rgb(58, 55, 55);
    border-radius: 1vw;
    margin-left: 1vw;
}
/*project overview*/
#overview-contain {
    margin: 2vw 0 0 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 95vw;
    height: auto;
    margin-bottom: 2vw;
}
#overview-header {
    padding-left: 2vw;
    padding-top: 1vw;
}
#pen-img-div {
    width: 2vw;
    height: 2vw;
}
#pen-img {
    width: 100%;
    height: 100%;
}
#overview-main {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vw;
}

/*member*/
#member-contain {
    margin: 2vw 0 0 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 95vw;
    height: auto;
    margin-bottom: 2vw;
}
#member-header {
    padding-left: 2vw;
    padding-top: 1vw;
}
#pen-img-div {
    width: 2vw;
    height: 2vw;
}
#pen-img {
    width: 100%;
    height: 100%;
}
#member-main {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vw;
}

/*프로젝트 규칙 시작*/
#project-rule {
    margin: 2vw 0 0 1vw;
    background-color: white;
    border-radius: 1vw;
    width: 50vw;
    height: auto;
    margin-bottom: 2vw;
}
.project-img-div {
    width: 2vw;
    height: 2vw;
}
.project-img {
    width: 100%;
    height: 100%;
}
#rule-contain {
    display: flex;
    padding: 1vw 0 2vw 2vw;
}
