body {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
#issue-contain {
    height: auto;
    z-index: 99;
    width: auto;
    font-size: 20px;
    position: relative;
    top: 160px;
    background-color: white;
    border-radius: 20px;
    margin: 0 50px 240px 50px;
}
#issue-search-contain {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}
.search-values {
    cursor: pointer;
}
#search {
    width: 50px;
    height: 25px;
    cursor: pointer;
}
#serch-text {
    margin: 0 10px;
    width: 450px;
}
#issue-contain-title {
    margin: 25px 25px 0 25px;
    width: calc(100% - 50px);
    height: 60px;
    border-top: solid black;
    border-bottom: solid gray;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
table {
    width: 100%;
}

#issue-title {
    width: 50%; /* width를 500px에서 50%로 변경 */
    text-align: center;
    padding-top: 15px;
}

#issue-number {
    height: 50px;
    width: 20%; /* width를 100px에서 20%로 변경 */
    text-align: center;
    padding-top: 15px;
}

#issue-con {
    margin: 25px;
    width: calc(100% - 50px);
    height: 60px;
    border-bottom: solid gray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.issue {
    height: auto;
    width: 15%; /* width를 200px에서 15%로 변경 */
    text-align: center;
    padding-top: 15px;
}

#issue-title {
    width: 50vw;
    text-align: center;
    padding-top: 15px;
}

#issue-content {
    width: 100%; /* width를 auto에서 100%로 변경 */
    height: 100vw;
}

#page-number {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-img-div {
    width: 50px;
    height: 50px;
}
.page-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#write {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    position: sticky;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffda31;
    float: inline-end;
    margin-right: 25px;
}
.issue-write-a {
    text-decoration: none;
    color: white;
}
.li {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
