body {
    font-family: "IBM Plex Sans KR", sans-serif;
}
#issue-contain {
    height: auto;
    z-index: 99;
    width: auto;
    font-size: 20px;
    position: relative;
    top: 160px;
    background-color: white;
    border-radius: 20px;
    margin: 0 50px 240px 50px;
}

#issue-contain-main {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 5px; /* 좌우 간격 설정 */
}

table {
    border-collapse: collapse; /* 테이블 셀 경계를 합침 */
    width: 100%; /* 테이블이 부모 요소에 꽉 차게 함 */
}
th,
td {
    padding: 5px; /* 위아래 패딩 설정 */
    text-align: left; /* th 제목 왼쪽 정렬 */
    border-bottom: 1px solid #ddd; /* 셀 아래 경계선 설정 */
}
th#issue-number {
    width: 50px; /* No 열 너비 설정 */
}
th#issue-title {
    width: 50%; /* 제목 열 너비 설정 */
}

#issue-search-contain {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}
.search-values {
    cursor: pointer;
}
#search {
    width: 50px;
    height: 25px;
    cursor: pointer;
}
#serch-text {
    margin: 0 10px;
    width: 450px;
}

table {
    width: auto;
}

#issue-con {
    margin: 25px;
    width: calc(100% - 50px);
    height: 60px;
    border-bottom: solid gray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#page-number {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-img-div {
    width: 40px;
    height: 40px;
}
.page-img-div2 {
    width: 30px;
    height: 30px;
}
.page-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#write {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    position: sticky;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffda31;
    float: inline-end;
    margin-right: 25px;
}
.issue-write-a {
    text-decoration: none;
    color: white;
}
.li {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
