body {
    font-family: "IBM Plex Sans KR", sans-serif;
}
#issue-contain {
    height: 1170px;
    z-index: 99;
    width: auto;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 160px;
    background-color: white;
    border-radius: 20px;
    margin: 0 50px 180px 50px;
}

li {
    list-style: none;
}

.pageNumber {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.pageNumber > span {
    cursor: pointer;
}
.pageNumber > span:hover {
    cursor: pointer;
    color: #badbb3;
}

#paginationBox {
    position: absolute;
    /* margin: 0 auto; */
    bottom: 50px;
    display: flex;
    width: auto;
    /* right: 40px; */
    justify-content: center;
    align-items: flex-end;
}

.prevButton,
.nextButton {
    border: 0 solid;
    background-color: #dbf2cf;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: 0 20px;
}

.prevButton:hover {
    background-color: none;
}

#issue-contain-main {
    position: absolute;
    top: 134px;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 5px; /* 좌우 간격 설정 */
}

/* HTML CSSResult Skip Results Iframe EDIT ON body {
    padding: 1.5em;
    background: #f5f5f5;
} */

table {
    position: absolute;
    border: 1px #a39485 solid;
    font-size: 0.9em;
    box-shadow: 0 1px 2px rgba(74, 73, 69, 0.25);
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

#issue-title {
    text-align: left;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #474e3d;
}

td:nth-child(1),
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}

td,
th {
    padding: 1em 0.5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

a {
    color: #73685d;
}

#issue-search-contain {
    right: 150px;
    top: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}
.search-values {
    cursor: pointer;
}

#search {
    width: 50px;
    height: 30px;
    cursor: pointer;
}
#serch-text {
    margin: 0 10px;
    width: 450px;
}

#issue-con {
    margin: 25px;
    width: calc(100% - 50px);
    height: 60px;
    border-bottom: solid gray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#page-number {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-img-div {
    width: 40px;
    height: 40px;
}
.page-img-div2 {
    width: 30px;
    height: 30px;
}
.page-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#write {
    position: absolute;
    top: 50px;
    right: 40px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffda31;
    float: inline-end;
    margin-right: 25px;
}
.issue-write-a {
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.li {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
