* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    /* background-color: #ffda31; */
    font-family: "IBM Plex Sans KR", sans-serif;
}

/* .issueForm_bg {
    background-color: #ffda31;
    width: 100%;
    height: 100px;
} */

.bg_white {
    background-color: white;
    /* border-radius: 10px; */
    /* margin: 0 auto; */
    border-radius: 24px;
    width: auto;
    height: 929px;
    position: relative;
    top: 170px;
    padding: 25px;
    margin: 0 50px;
}

.top_hr1 {
    width: 86vw;
    height: 0.2vw;
    background-color: gray;
    color: gray;
}

form {
    padding: 25px 25px 40px 25px;
    /* position: absolute; */
    /* margin: 0; */
    width: auto;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    left: 0;
}

hr {
    margin: 20px 0;
}

code {
    display: inline-block;
    background-color: #525252;
    border-radius: 5px;
    color: white;
    width: auto;
    padding: 20px 40px;
    height: auto;
    font-size: 18px;
    line-height: 30px;
}

li {
    list-style: none;
    display: flex;
    font-size: 20px;
    margin-bottom: 30px;
}
li:last-child {
    margin-bottom: 0;
}

.title_box {
    font-size: 22.5px;
    font-weight: bold;
    margin: 22px 0;
}

.writer_date {
    display: flex;
}
.writer_box {
    font-size: 18px;
    margin-right: 20px;
    background-color: #ffda31;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.date_box {
    font-size: 18px;
    background-color: #d9e9bf;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.content_box {
    margin: 30px 0;
    font-size: 20px;
    line-height: 60px;
}

.file_box {
    display: flex;
    font-size: 20px;
}

.file > p {
    height: 50px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgb(243, 244, 246);
    margin-right: 30px;
    text-align: center;
    line-height: 40px;
}

.comment_box {
    padding: 5px;
}
.comments > li > p {
    padding-right: 26px;
}

.user_Image {
    /* background-image: url("/public/img/user-solid.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    /* margin: 0 20px 0 20px; */
    margin: 0px 20px;
}

#title-con {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #date {
    font-weight: 700;
    font-size: 30px;
    color: #bfbfbf;
} */
#writer-con {
    font-weight: 700;
    font-size: 30px;
    width: 50vw;
}

/* .form_top {
    display: flex;
    justify-content: space-between;
} */

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    opacity: 50%;
    transition: all 0.3s;
}

.icon:hover {
    opacity: 100%;
}

.correction_icon {
    background-image: url("/public/img/correction.png");
}

.delte_icon {
    background-image: url("/public/img/trash-can.png");
    margin-left: 11px;
}

.coding_icon {
    background-image: url("/public/img/coding_box.png");
}

#main-text {
    height: auto;
    /*본문 가로 사이즈 조정하기*/
    width: 100px;
    padding-bottom: 3vw;
}
#text-div {
    height: 35vw;
    width: 86vw;
    outline: none;
    border: none;
}
#code-div {
    margin: 4vw;
    padding: 2vw 2vw 2vw 2vw;
    width: 65vw;
    margin-left: 7vw;
    background-color: #bfbfbf;
    outline: none;
    border: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    border-radius: 1vw;
    height: 10vw;
}
#save-file-contain {
    padding: 2vw 2vw 2vw 2vw;
    width: 65vw;
    margin-left: 7vw;
    border-radius: 1vw;
    height: 100px;
    display: flex;
}
.save-file {
    height: 100%;
    width: 180px;
    background-color: #bfbfbf;
    border-radius: 1vw;
    margin-right: 30px;
    border-color: #ffda31;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#comment-nav {
    width: 86vw;
    height: auto;
    padding: 1vw 0 3vw 0;
}
.comment-cont {
    width: 86vw;
    height: 100px;
    display: flex;
    background-color: #bfbfbf;
    border-radius: 1vw;
}
.comment-img-div {
    width: 50px;
    height: 50px;
}
.comment-profile {
    height: auto;
    width: 100px;
}
.comment-text {
    height: auto;
    width: 75vw;
}
.comment-img {
    width: 100%;
    height: 100%;
}
.comment-code-img {
    width: 50px;
    height: 50px;
    padding-top: 2vw;
}
#comment-write-cont {
    width: 86vw;
    height: auto;
    border-radius: 1vw;
    border-style: solid;
    display: flex;
    border-color: #ffda31;
    align-items: flex-end;
}
#comment-write {
    width: 86vw;
    height: 5vw;
    border-radius: 1vw;
    border-style: none;
    background-color: #bfbfbf;
    margin: 1vw;
    word-break: break-all;
}
#comment-write-submit {
    height: 4vw;
    width: 8vw;
    background-color: #ffda31;
    border-radius: 1vw;
    border-style: none;
    margin: 1vw;
    color: white;
    font-size: large;
    font-weight: bold;
}
