* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffda31;
}

.bg_white {
    background-color: white;
    border-radius: 1vw;
    width: 96vw;
    height: 60vw;
    margin-left: 2vw;
    margin-top: 9vw;
    /* 9vw = 헤더 높이 + 여백(2) */
    margin-bottom: 2vw;
}

form {
    margin-left: 4vw;
    margin-right: 4vw;
}

.title_write,
.content_write {
    width: 86vw;
    border: 0;
}

input::placeholder {
  color:#ccd2d7
  font-style: italic;
}
textarea::placeholder {
  color: blue;
  font-weight: bold;
}


.top_hr1 {
    width: 86vw;
    height: 0.5vw;
    background-color: gray;
    color: gray;
}

.title_write {
  width: 86vw;
  height: 3vw;
}

